{% extends "base.html" %} 

{% block title %}Dashboard{% endblock %} 

{% block body_class %}flex flex-col justify-center items-center h-screen bg-white{% endblock %}
{% block content %}
<div class="p-0 gap-5">
    <h1>You are logged in! Welcome!</h1>
    <p>Welcome, {{ current_user.email }}!</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }} text-red-500" ><br>{{ message }}</div><br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

    {% if tasks %}
    <br><h1>Your Tasks</h1>
    <div class="flex">
      <div class="flex flex-col gap-5 item-center justify-center">
        <a href="/add_task" class="text-white bg-gray-500 px-2 py-1 rounded hover:bg-slate-700 hover:text-white inline-block whitespace-nowrap">
          Add Task
        </a>
        <a href="/logout" class="text-white bg-gray-500 px-2 py-1 rounded hover:bg-slate-700 hover:text-white inline-block whitespace-nowrap">
          Log out
        </a>
      </div>

    <div class="task-table">
      <table border="1">
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
        {% for task in tasks %}
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.due_date }}</td>
          <td>
            {% if task.completed %} Completed {% else %} Not Completed {% endif %}
          </td>
          <td>
            <a href="/edit_task/{{ task.id }}" class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600">Edit</a>
          </td>
          <td>
            <form action="/delete_task/{{ task.id }}  " method="POST" style="display: inline;">
              <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">Delete</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p class="px-10">You have no tasks. <a href="/add_task" class="text-blue-500 underline"> Add your first task!</a></p>
    {% endif %}
  </div>

{% endblock %}
