<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<title>Home Page</title>

<body id="home-page-container">
<div id="home-page-body">
    <h1>This is the Calendar App!</h1><br>
    <a href="signup">
        <button>Sign up</button>
    </a>

    <a href="login">
        <button>Log in</button>
    </a>
</div>

</body>

</html>